:root {
  color-scheme: light dark;
  --card-outline: #444;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  box-sizing: border-box;
  display: block;
  padding: 1rem;
}

button:hover {
  user-select: none;
  cursor: pointer;
}

button:active {
  transform: translateY(5px);
}

header {
  padding: 2rem;
  text-align: center;
}

main {
  display: grid;
  place-items: center;
  /* min-height: 100vh; */
}

.card {
  outline: 1px solid var(--card-outline);
  padding: 2rem;
  max-width: 70ch;
}

.card + .card {
  margin-top: 1rem;
}

.card form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  grid-template-areas:
    "initial-values results"
    "initial-values results"
    "convert-btn convert-btn";
}

input,
label {
  display: block;
  width: 100%;
}

label {
  padding-block: 1rem;
}
select {
  padding: 0.5rem 1rem;
}

input {
  padding: 1rem;
}

p.result {
  margin: 0;
  padding: 1rem;
}

button[type="submit"] {
  background: #333;
  width: 100%;
  text-align: center;
  margin-block: 1rem;
  grid-area: convert-btn;
}

button[type="submit"]:hover {
  background: #444;
}

@media (prefers-color-scheme: light) {
  :root {
    --card-outline: #eee;
  }

  button[type="submit"] {
    background: #efefef;
  }
  button[type="submit"]:hover {
    background: #ddd;
  }
}
