:root {
  color-scheme: light dark;
  --dark-grey: #24242a;
  --accent: #2753b4;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  box-sizing: border-box;
  display: block;
  padding: 1rem;
}

button:hover {
  user-select: none;
  cursor: pointer;
}

button:active {
  transform: translateY(5px);
}

header {
  padding: 2rem;
  text-align: center;
}

main {
  display: grid;
  place-items: center;
  /* min-height: 100vh; */
}

.card {
  outline: 1px solid var(--dark-grey);
  padding: 2rem;
  max-width: 75ch;
}

.card + .card {
  margin-top: 1rem;
}

.card form {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.card form > * {
  flex: 1 1 20ch;
}

input,
label {
  display: block;
  line-height: 1rem;
  width: 100%;
}

input {
  background: var(--dark-grey);
  border: none;
  border-bottom: 1px solid var(--accent);
}

label {
  padding-block: 1rem;
}

select {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

input {
  padding: 1rem;
}

p.result {
  background: var(--dark-grey);
  margin: 0;
  padding: 1rem;
  line-height: 1rem;
  border-bottom: 1px solid var(--accent);
}

@media (prefers-color-scheme: light) {
  :root {
    --dark-grey: #eee;
  }
}
